{% extends "global/html_struct.html" %}
{% load util_filters %}
{% load static %}
{% load i18n %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/simple_tasks.css' %}" />

<!--<div class="filterbar">ToolBar</div>-->

{{ calendario | safe }}

<script type="text/x-handlebars-template" id="data-task-form-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="data-task-form" action="">
        {% csrf_token %}
        {% include "simple_tasks/form.html" %}
        <input type="hidden" name="pk" id="pk" value="" />
        <button type="button" class="btn btn-outline-primary" id="btn-save" onclick="create_new_task()">Guardar</button>
    </form>
</script>

<script type="text/x-handlebars-template" id="data-task-readonly-template">
    <input type="hidden" name="pk" id="pk" value="" />
    {% include "simple_tasks/form_readonly.html" %}
</script>

{% verbatim %}
<script type="text/x-handlebars-template" id="data-task-list-template">
    <div class="task" data-id="{{idtarea}}" data-estado="{{estado_actual}}" data-responsable="{{responsable.id}}" ondblclick="see_task({{idtarea}})" >
        <span class="badge badge-{{color}}" data-toggle="tooltip" title="{{responsable.nombre}}">{{responsable.iniciales}}</span>
        {{idtarea}} - {{titulo}}
    </div>
</script>
{% endverbatim %}

<script type="text/javascript" src="{% static 'js/simple_tasks.js' %}?rn={{ 1 | random_num:99999999 }}"></script>
<script type="text/javascript">
    let simple_task_reloading = false;
    let responsables = {
        {% for persona in responsables %}
        "{{persona.pk}}": {
            "nombre": "{{persona.first_name}}",
            "apellido": "{{persona.last_name}}"
        },
        {% endfor %}
    };
    let url_tarea_new = '{% url "tarea_new"%}';
    let url_tarea_getall = '{% url "tarea_getall" anio=anio mes=mes %}';
    let url_tarea_see = '{% url "tarea_see" %}';
    let url_tarea_update = '{% url "tarea_update" %}';
    let url_tarea_delete = '{% url "tarea_delete" %}';
    let url_tarea_add_comment = '{% url "tarea_add_comment"%}';
    let url_tarea_delete_comment = '{% url "tarea_delete_comment" %}';
    let url_tarea_update_comment = '{% url "tarea_update_comment" %}';
    let url_tarea_new_link = '{% url "tarea_new_link" %}';
    let url_tarea_delete_link = '{% url "tarea_delete_link" %}';
    $(document).ready(function(){
        getall_tasks();
        let hoy = new Date();
        if({{anio}} == hoy.getFullYear() && {{mes}} == hoy.getMonth() + 1) {
            $(`td.day[data-day="${hoy.getDate()}"]`).css('border-width', '3px');
        }
    });
</script>

{% endblock %}