{% extends "global/html_struct.html" %}
{% load i18n %}
{% load util_filters %}
{% block content %}

<table class="table table-striped table-sm table-responsive-md">
    <thead>
        <tr>
            <th>Intervalo</th>
            <th>Porcentaje de Cuantía Básica</th>
            <th>Porcentaje de Incremento Anual</th>
            <th class="text-right" colspan="3"></th>
        </tr>
    </thead>
    <tbody id="data-tbl">
        {% for reg in data %}
            <tr>
                <td class="text-center">{{ reg }}</td>
                <td class="text-center">{{ reg.porcentaje_de_cuantia_basica }}</td>
                <td class="text-center">{{ reg.porcentaje_de_incremento_anual }}</td>
                <td class="text-center">
                    {% if cperms.see %}
                    <a href="{% url 'cuantiabasica_see' pk=reg.pk %}" class="btn btn-outline-secondary" title="Ver"><i class="far fa-eye"></i></a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if cperms.update %}
                    <a href="{% url 'cuantiabasica_update' pk=reg.pk %}" class="btn btn-outline-secondary" title="Actualizar"><i class="far fa-edit"></i></a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if cperms.delete %}
                    <a href="{% url 'cuantiabasica_delete' pk=reg.pk %}" class="btn btn-outline-secondary" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}