{% extends "global/html_struct.html" %}
{% load i18n %}
{% block content %}

<table class="table table-striped table-sm table-responsive-md">
    <thead>
        <tr>
            <th>Tipo de Expediente</th>
            <th>Descripción</th>
            <th class="text-right" colspan="3"></th>
        </tr>
    </thead>
    <tbody id="data-tbl">
        {% for reg in data %}
            <tr>
                <td>{{ reg.nombre }}</td>
                <td>{{ reg.descripcion }}</td>
                <td class="text-center">
                    {% if cperms.see %}
                    <a href="{% url 'taxonomia_see' pk=reg.pk %}" class="btn btn-outline-secondary" title="Ver"><i class="far fa-eye"></i></a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if cperms.update %}
                    <a href="{% url 'taxonomia_update' pk=reg.pk %}" class="btn btn-outline-secondary" title="Actualizar"><i class="far fa-edit"></i></a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if cperms.delete %}
                    <a href="{% url 'taxonomia_delete' pk=reg.pk %}" class="btn btn-outline-secondary" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}