{% extends "global/html_struct.html" %}
{% load i18n %}
{% load util_filters %}

{% block content %}

{% if cte %}

<div class="row">
    <div class="col-sm-6">
        <p>
            <strong>{{ cte }}</strong><br />
            {% if cte.CURP %}CURP: {{ cte.CURP }}<br />{% endif %}
            {% if cte.NSS %}NSS: {{ cte.NSS }}<br />{% endif %}
            {% if cte.RFC %}RFC: {{ cte.RFC }}<br />{% endif %}
        </p>
    </div>
    <div class="col-sm-6 card">
        <div class="card-body">
            {% for historia in cte.historia.all %}
            <table class="table table-striped table-sm table-responsive-md">
                <tbody>
                    <tr>
                        <th>Fecha Inicial</th>
                        <td class="text-right">
                            {{ historia.inicio|date:'d/M/Y' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Fecha Final</th>
                        <td class="text-right">
                            {{ historia.fin|date:'d/M/Y' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Semanas Cotizadas</th>
                        <td class="text-right">
                            {{ historia.semanas_cotizadas }}
                        </td>
                    </tr>
                    <tr>
                        <th> Salario Promedio</th>
                        <td class="text-right">
                            $ {{ historia.agg_salario.salario_promedio|money2display }}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</div>

<p></p>

<table class="table table-striped table-sm table-responsive-md">
    <thead>
        <tr>
            <th rowspan="2">Empresa</th>
            <th rowspan="2">Inicio del Periodo</th>
            <th rowspan="2">Fin del Periodo</th>
            <th colspan="3" style="border-left: rgb(194, 195, 196) solid 1px; border-right: rgb(194, 195, 196) solid 1px">Periodos Cotizados</th>
            <th colspan="3">Periodos Inactivos</th>
        </tr>
        <tr>
            <th style="border-left: rgb(194, 195, 196) solid 1px;">Días</th>
            <th>Semanas</th>
            <th style="border-right: rgb(194, 195, 196) solid 1px;">Años</th>
            <th>Días</th>
            <th>Semanas</th>
            <th>Años</th>
        </tr>
    </thead>
    <tbody>
        {% for reg in peridodos_laborados.itertuples %}
        <tr>
            <td>{{ reg.historialaboralregistro }}</td>
            <td class="text-center">{{ reg.fecha_inicio|date:'d/M/Y' }}</td>
            <td class="text-center">{{ reg.fecha_fin|date:'d/M/Y' }}</td>
            <td class="text-right" style="border-left: rgb(194, 195, 196) solid 1px;">{{ reg.dias_cotiz }}</td>
            <td class="text-right">{{ reg.semanas_cotiz }}</td>
            <td class="text-right" style="border-right: rgb(194, 195, 196) solid 1px;">{{ reg.anios_cotiz|money2display }}</td>
            <td class="text-right">{{ reg.dias_inact }}</td>
            <td class="text-right">{{ reg.semanas_inact }}</td>
            <td class="text-right">{{ reg.anios_inact|money2display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p></p>

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <table class="table table-striped table-sm table-responsive-md">
            <thead>
                <tr>
                    <th></th>
                    <th>Días</th>
                    <th>Semanas</th>
                    <th>Años</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-right">Semanas transcurridas desde el alta de número social a la fecha</td>
                    <td class="text-right">+{{ aggr_per_lab.dias_transc }}</td>
                    <td class="text-right">+{{ aggr_per_lab.sem_transc }}</td>
                    <td class="text-right">+{{ aggr_per_lab.anios_transc|money2display }}</td>
                </tr>
                <tr>
                    <td class="text-right">Semanas reconocidas por el IMSS</td>
                    <td class="text-right">-{{ aggr_per_lab.dias_rec }}</td>
                    <td class="text-right">-{{ aggr_per_lab.sem_rec }}</td>
                    <td class="text-right">-{{ aggr_per_lab.anios_rec|money2display }}</td>
                </tr>
                <tr>
                    <td class="text-right">Periodos inactivos</td>
                    <td class="text-right">-{{ aggr_per_lab.dias_inac }}</td>
                    <td class="text-right">-{{ aggr_per_lab.sem_inac }}</td>
                    <td class="text-right">-{{ aggr_per_lab.anios_inac|money2display }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-right">Diferencia</th>
                    <th class="text-right">{{ aggr_per_lab.dias_dif }}</th>
                    <th class="text-right">{{ aggr_per_lab.sem_dif }}</th>
                    <th class="text-right">{{ aggr_per_lab.anios_dif|money2display }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endif %}

{% endblock %}