{% extends "global/html_struct.html" %}
{% load crispy_forms_tags %}
{% load util_filters %}

{% block content %}

<div class="row">
    <div class="col-sm-5">
        <p>
            <strong>{{ cte }}</strong><br />
            {% if cte.CURP %}CURP: {{ cte.CURP }}<br />{% endif %}
            {% if cte.NSS %}NSS: {{ cte.NSS }}<br />{% endif %}
            {% if cte.RFC %}RFC: {{ cte.RFC }}<br />{% endif %}
        </p>
        
        <p>Semanas Cotizadas: {{ historia.semanas_cotizadas|money2display }}</p>
    </div>
    <div class="col-sm-7 card">
        <div class="card-body">
            <button type="button" class="btn btn-outline-secondary float-right" onclick="openCommentsFrm()">
                <i class="fas fa-pencil-alt"></i>
            </button>
            <p>
                <strong>UMA: </strong>{{ historia.uma }} ($ {{ historia.uma.valor|money2display }})
            </p>
            <p>
                <strong>Comentarios:</strong><br />
                {{ historia.comentarios|as_paragraph|safe }}
            </p>
        </div>
    </div>
</div>

{% if historia.registros.all %}
<div class="text-center" style="margin-top: 10px;">
    <div class="btn-group" role="group" aria-label="">
        <a href="{% url 'cliente_vista_tabular' pk=historia.pk %}" class="btn btn-outline-secondary">
            <i class="fas fa-table"></i>
            Vista Detalle Tabular
        </a>
        <a href="{% url 'cliente_vista_grafica' pk=historia.pk %}" class="btn btn-outline-secondary">
            <i class="far fa-chart-bar fa-rotate-270" data-fa-transform="flip-v"></i>
            Vista Gráfica
        </a>
    </div>
</div>
{% endif %}

{% for reg in historia.registros.all %}
<div class="card" style="margin-top: 10px;">
    <div class="card-header">
        <div class="btn-toolbar float-right" role="toolbar">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-secondary" onclick="openUpdRegistro({{ reg.pk }}, '{{ reg.empresa }}', '{{ reg.registro_patronal }}')" title="Actualizar Empresa / Registro Patronal">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <a href="#" onclick="App.showDeletingConfirmation(`{% url 'cliente_delete_registro' pk=reg.pk %}`, 'registro del patron seleccionado y su detalle de periodos')" title="Eliminar" class="btn btn-outline-secondary">
                    <i class="far fa-trash-alt"></i>
                </a>
            </div>
        </div>
        {{ reg }}
    </div>
    <div class="card-body">
        <table class="table table-striped table-sm table-responsive-md">
            <thead>
                <tr>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Vigente</th>
                    <th>Dias</th>
                    <th>Semanas</th>
                    <th>Salario</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for det in reg.detalle.all %}
                    <tr>
                        <td>{{ det.fecha_inicial|date:'d/M/Y' }}</td>
                        <td>{{ det.fecha_final|date:'d/M/Y' }}</td>
                        <td><input type="checkbox" {% if det.vigente %}checked="checked"{% endif %} /></td>
                        <td class="text-right">{{ det.dias_cotizados }}</td>
                        <td class="text-right">{{ det.semanas_cotizadas|money2display }}</td>
                        <td class="text-right">$ {{ det.salario_base|money2display }}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-outline-secondary" onclick="openUpdDetalle({{ det.pk}}, '{{ det.fecha_inicial|date:'Y-m-d' }}', '{{ det.fecha_final|date:'Y-m-d' }}', {{ det.salario_base }}, {% if det.vigente %}true{% else %}false{% endif %})" title="Actualizar Detalle">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            <a href="#" onclick="App.showDeletingConfirmation(`{% url 'cliente_delete_detalle' pk=det.pk %}`, 'periodo seleccionado')" title="Eliminar" class="btn btn-outline-secondary">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>{{ reg.fecha_de_alta|date:'d/M/Y' }}</th>
                    <th>{{ reg.fecha_de_baja|date:'d/M/Y' }}</th>
                    <th></th>
                    <th class="text-right">{{ reg.dias_cotizados }} | {{ reg.dias_inactivos }}</th>
                    <th class="text-right">{{ reg.semanas_cotizadas|money2display }} | {{ reg.semanas_inactivos|money2display }}</th>
                    <th class="text-right">$ {{ reg.salario_base|money2display }}</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endfor %}

<script type="text/javascript">
    let openCommentsFrm = () => {
        App.openPanel( $( "#comentarios-template" ).html(), "Actualizar comentarios" );
    }
    
    let openCaptManual = () => {
        App.openPanel( $( "#frm-captura-manual-template" ).html(), "Captura Manual" );
    }
    let openCaptExcel = () => {
        App.openPanel( $( "#frm-captura-excel-template" ).html(), "Captura Excel" );
    }
    let openCaptWord = () => {
        App.openPanel( $( "#frm-captura-word-template" ).html(), "Captura Word" );
    }
    let openCaptPDF = () => {
        App.openPanel( $( "#frm-captura-pdf-template" ).html(), "Captura PDF" );
    }

    let addRowCaptManual = () => {
        let template = Handlebars.compile( $( "#frm-captura-manual-add-template" ).html() );
        rowc = $( "#tbl-captura-manual" )[0].rows.length + 1;
        $( "#rows" )[0].value = rowc;
        let html = template( { fila: rowc} );
        $( "#tbl-captura-manual" ).append( $( html ) );
    }
    let convertCaptExcel = () => {
        let lines = $( "#contenido-excel" ).val().trim().split( '\n' );
        $( "#captura-form table" ).removeClass( 'd-none' );
        $( "#div-contenido-excel" ).addClass( 'd-none' );
        let tbl = $( "#tbl-captura-excel" );
        let rows = lines.length
        let template = Handlebars.compile( $( "#frm-captura-excel-add-template" ).html() );
        for( let x = 1; x <= rows; x++ ){
            fila = lines[ x - 1 ].split( '\t' );
            let html = template( { 
                fila: x, 
                registro: fila[ 0 ], 
                empresa: fila[ 1 ],
                inicio: fila[ 2 ].substr( 6, 4 ) + '-' + fila[ 2 ].substr( 3, 2 ) + '-' + fila[ 2 ].substr( 0, 2 ),
                fin: fila[ 3 ].substr( 6, 4 ) + '-' + fila[ 3 ].substr( 3, 2 ) + '-' + fila[ 3 ].substr( 0, 2 )
            } );
            tbl.append( $( html ) );
        }
        $( "#rows" )[ 0 ].value = rows;
        $( "#captura-form button[type=button]" ).addClass( 'd-none' );
        $( "#captura-form button[type=submit]" ).removeClass( 'd-none' );
    }
    let convertCaptWord = () => {
        let patron = /\d{2}\s+[A-Z]?\d+\s+\d{2}\/\d{2}\/\d{4}\s+\d\s+\d\s+\d{2}\/\d{2}\/\d{4}\s+\d+\.\d{2}\s+[A-Z]\s+\d\s+[A-Z]+\s+[A-Z]+\s+\d?\s+\d?\s+\d{2}\/\d{2}\/\d{4}/g;
        let contenido = $("#contenido-word").val().trim();
        let lines = contenido.match(patron);
        $( "#captura-form table" ).removeClass( 'd-none' );
        $( "#div-contenido-word" ).addClass( 'd-none' );
        let tbl = $( "#tbl-captura-word" );
        let rows = lines.length
        let template = Handlebars.compile( $( "#frm-captura-word-add-template" ).html() );
        for( let x = 1; x <= rows; x++ ){
            fila = lines[ x - 1 ];
            fini = fila.substr( 36, 4 ) + '-' + fila.substr( 33, 2 ) + '-' + fila.substr( 30, 2 );
            ffin = fila.substr( 71, 4 ) + '-' + fila.substr( 68, 2 ) + '-' + fila.substr( 65, 2 );
            if( ffin == "0000-00-00" ) {
                ffin = null;
            }
            let html = template( { 
                fila: x, 
                registro: fila.substr( 3, 11),
                inicio: fini,
                fin: ffin,
                salario: parseFloat( fila.substr( 40, 8 ).trim() )
            } );
            tbl.append( $( html ) );
        }
        $( "#rows" )[ 0 ].value = rows;
        $( "#captura-form button[type=button]" ).addClass( 'd-none' );
        $( "#captura-form button[type=submit]" ).removeClass( 'd-none' );
    }
    let convertCaptPDF = () => {
        let patron_mov = /[A-Z\s]+/g;
        let patron_fec = /\d{2}\/\d{2}\/\d{4}/g;
        let patron_sueldo = /\d+\.\d+/g;
        let lines = $( "#contenido-pdf" ).val().trim().split( '\n' ).reverse();
        let rows = lines.length;
        let template = Handlebars.compile( $( "#frm-captura-pdf-add-template" ).html() );
        $( "#captura-form table" ).removeClass( 'd-none' );
        $( "#div-contenido-pdf" ).addClass( 'd-none' );
        let tbl = $( "#tbl-captura-pdf" );
        let regs = Array();
        for( let x = 1; x <= rows; x++ ) {
            let fila = lines[ x - 1 ];
            if( "" == fila ) {
                continue;
            }
            regs.push( {
                mov: fila.match( patron_mov )[ 0 ].trim(),
                fecha: (new Date() ).fromMX( fila.match( patron_fec )[ 0 ] ),
                sueldo: fila.match( patron_sueldo )[ 0 ]
            } );
        }
        for( let x = 1; x <= rows; x++ ){
            let fila = regs[ x - 1 ];
            if( "BAJA" == fila.mov ) { 
                continue;
            }
            let fin = nextDateMovCaptPDF( fila, regs[ x ] );
            let html = template( {
                fila: tbl[0].rows.length + 1,
                salario: fila.sueldo,
                inicio: fila.fecha.asMySQL(),
                fin: ( null != fin ? fin.asMySQL(): null)
            });
            tbl.append( $( html ) );
        }
        $( "#rows" )[ 0 ].value = tbl[0].rows.length;
        $( "#captura-form button[type=button]" ).addClass( 'd-none' );
        $( "#captura-form button[type=submit]" ).removeClass( 'd-none' );
    }
    let nextDateMovCaptPDF = ( currentRow, nextRow ) => {
        let nextDate = null;
        if( nextRow ) {
            if( "REINGRESO" == currentRow.mov && "MODIFICACION DE SALARIO" == nextRow.mov ) {
                nextDate = nextRow.fecha.addDays( -1 );
            } else if( "REINGRESO" == currentRow.mov && "BAJA" == nextRow.mov ) {
                nextDate = nextRow.fecha;
            } else if( "MODIFICACION DE SALARIO" == currentRow.mov && "MODIFICACION DE SALARIO" == nextRow.mov ) {
                nextDate = nextRow.fecha.addDays( -1 );
            } else if( "MODIFICACION DE SALARIO" == currentRow.mov && "BAJA" == nextRow.mov ) {
                nextDate = nextRow.fecha;
            }
        }
        return nextDate;
    }

    let openUpdRegistro = ( id_data, empresa, registro_patronal ) => {
        let template = Handlebars.compile( $( "#frm-upd-registro-template" ).html() );
        let html = template( { id_data, empresa, registro_patronal } );
        App.openPanel( html, "Actualización de Registro")
    }
    let openUpdDetalle = ( id_data, inicio, fin, salario, vigente ) => {
        let template = Handlebars.compile( $( "#frm-upd-detalle-template" ).html() );
        let html = template( { id_data, inicio, fin, salario, vigente } );
        App.openPanel( html, "Actualización de Detalle")
    }
</script>

<script type="text/x-handlebars-template" id="comentarios-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="comentarios-form" action="">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="update-comments" />
        <div class="form-group">
            <label for="uma">UMA</label>
            <select class="form-control" name="uma" id="uma">
                {% for uma in umas %}
                    <option value="{{ uma.pk }}" {% if uma.pk == historia.uma.pk %}selected="select"{% endif %}>{{ uma }} ($ {{ uma.valor|money2display }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="comentarios">Comentarios</label>
            <textarea class="form-control" id="comentarios" name="comentarios" rows="3">{{ historia.comentarios }}</textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary" id="btn-save" >Guardar</button>
    </form>
</script>

{% verbatim %}
<script type="text/x-handlebars-template" id="frm-captura-manual-add-template">
    <tr>
        <td>
            <input name="inicio_{{fila}}" id="inicio_{{fila}}" type="date" required="required" class="form-control" />
        </td>
        <td>
            <input name="fin_{{fila}}" id="fin_{{fila}}" type="date"class="form-control" />
        </td>
        <td>
            <input name="salario_{{fila}}" id="salario_{{fila}}" type="text" required="required" class="form-control" />
        </td>
        <td>
            <input name="vigente_{{fila}}" id="vigente_{{fila}}" type="checkbox" title="vigente" />
        </td>
    </tr>
</script>
{% endverbatim %}

<script type="text/x-handlebars-template" id="frm-captura-manual-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="captura-form" action="">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="captura-manual" />
        <input type="hidden" name="rows" id="rows" value="1" />
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="empresa">Empresa:</label>
                    <input id="empresa" name="empresa" class="form-control" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="registro_patronal">Registro Patronal:</label>
                    <input id="registro_patronal" name="registro_patronal" class="form-control" />
                </div>
            </div>
        </div>
        <table class="table table-striped table-sm table-responsive-md">
            <thead>
                <tr>
                    <th colspan="2">Periodo</th>
                    <th class="align-bottom">
                        Salario
                    </th>
                    <th>
                        <button onclick="addRowCaptManual()" type="button" class="btn btn-outline-secondary float-right btn-sm" title="Agregar Período">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody id="tbl-captura-manual">
                <tr>
                    <td>
                        <input name="inicio_1" id="inicio_1" type="date" required="required" class="form-control" />
                    </td>
                    <td>
                        <input name="fin_1" id="fin_1" type="date" class="form-control" />
                    </td>
                    <td>
                        <input name="salario_1" id="salario_1" type="text" required="required" class="form-control" />
                    </td>
                    <td>
                        <input name="vigente_1" id="vigente_1" type="checkbox" title="vigente" />
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-outline-primary" id="btn-save" >Guardar</button>
    </form>
</script>

{% verbatim %}
<script type="text/x-handlebars-template" id="frm-captura-excel-add-template">
    <tr>
        <td>
            <input value="{{registro}}" name="registro_patronal_{{fila}}" id="registro_patronal_{{fila}}" type="text" class="form-control" />
        </td>
        <td>
            <input value="{{empresa}}" name="empresa_{{fila}}" id="empresa_{{fila}}" type="text" class="form-control" />
        </td>
        <td>
            <input value="{{inicio}}" name="inicio_{{fila}}" id="inicio_{{fila}}" type="date" required="required" class="form-control" style="width: 170px;" />
        </td>
        <td>
            <input value="{{fin}}" name="fin_{{fila}}" id="fin_{{fila}}" type="date" class="form-control" style="width: 170px;" />
        </td>
        <td>
            <input value="{{salario}}" name="salario_{{fila}}" id="salario_{{fila}}" type="text" required="required" class="form-control" style="width: 100px;" />
        </td>
        <td>
            <input name="vigente_{{fila}}" id="vigente_{{fila}}" type="checkbox" title="vigente" />
        </td>
    </tr>
</script>
{% endverbatim %}

<script type="text/x-handlebars-template" id="frm-captura-excel-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="captura-form" action="">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="captura-excel" />
        <input type="hidden" name="rows" id="rows" value="1" />
        <div id="div-contenido-excel" class="form-group">
            <label for="contenido-excel">Texto</label>
            <textarea class="form-control" id="contenido-excel" name="contenido-excel" rows="3"></textarea>
        </div>
        <table class="d-none table table-striped table-sm table-responsive-md">
            <thead>
                <tr>
                    <th>Registro Patronal</th>
                    <th>Empresa</th>
                    <th colspan="2">Periodo</th>
                    <th>Salario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbl-captura-excel">
            </tbody>
        </table>
        <button type="button" class="btn btn-outline-primary" id="btn-continue" onclick="convertCaptExcel()">Continuar</button>
        <button type="submit" class="btn btn-outline-primary d-none" id="btn-save" >Guardar</button>
    </form>
</script>

{% verbatim %}
<script type="text/x-handlebars-template" id="frm-captura-word-add-template">
    <tr>
        <td>
            <input value="{{registro}}" name="registro_patronal_{{fila}}" id="registro_patronal_{{fila}}" type="text" class="form-control" />
        </td>
        <td>
            <input value="{{empresa}}" name="empresa_{{fila}}" id="empresa_{{fila}}" type="text" class="form-control" />
        </td>
        <td>
            <input value="{{inicio}}" name="inicio_{{fila}}" id="inicio_{{fila}}" type="date" required="required" class="form-control" style="width: 170px;" />
        </td>
        <td>
            <input value="{{fin}}" name="fin_{{fila}}" id="fin_{{fila}}" type="date" class="form-control" style="width: 170px;" />
        </td>
        <td>
            <input value="{{salario}}" name="salario_{{fila}}" id="salario_{{fila}}" type="text" required="required" class="form-control" style="width: 100px;" />
        </td>
        <td>
            <input name="vigente_{{fila}}" id="vigente_{{fila}}" type="checkbox" title="vigente" {{#if fin}}{{else}}checked="checked"{{/if}} />
        </td>
    </tr>
</script>
{% endverbatim %}

<script type="text/x-handlebars-template" id="frm-captura-word-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="captura-form" action="">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="captura-word" />
        <input type="hidden" name="rows" id="rows" value="1" />
        <div id="div-contenido-word" class="form-group">
            <label for="contenido-word">Texto</label>
            <textarea class="form-control" id="contenido-word" name="contenido-word" rows="3"></textarea>
        </div>
        <table class="d-none table table-striped table-sm table-responsive-md">
            <thead>
                <tr>
                    <th>Registro Patronal</th>
                    <th>Empresa</th>
                    <th colspan="2">Periodo</th>
                    <th>Salario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbl-captura-word">
            </tbody>
        </table>
        <button type="button" class="btn btn-outline-primary" id="btn-continue" onclick="convertCaptWord()">Continuar</button>
        <button type="submit" class="btn btn-outline-primary d-none" id="btn-save" >Guardar</button>
    </form>
</script>

{% verbatim %}
<script type="text/x-handlebars-template" id="frm-captura-pdf-add-template">
    <tr>
        <td>
            <input value="{{inicio}}" name="inicio_{{fila}}" id="inicio_{{fila}}" type="date" required="required" class="form-control" />
        </td>
        <td>
            <input value="{{fin}}" name="fin_{{fila}}" id="fin_{{fila}}" type="date" class="form-control" />
        </td>
        <td>
            <input value="{{salario}}" name="salario_{{fila}}" id="salario_{{fila}}" type="text" required="required" class="form-control" />
        </td>
        <td>
            <input name="vigente_{{fila}}" id="vigente_{{fila}}" type="checkbox" title="vigente" {{#if fin}}{{else}}checked="checked"{{/if}} />
        </td>
    </tr>
</script>
{% endverbatim %}

<script type="text/x-handlebars-template" id="frm-captura-pdf-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="captura-form" action="">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="captura-pdf" />
        <input type="hidden" name="rows" id="rows" value="1" />
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="empresa">Empresa:</label>
                    <input id="empresa" name="empresa" class="form-control" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="registro_patronal">Registro Patronal:</label>
                    <input id="registro_patronal" name="registro_patronal" class="form-control" />
                </div>
            </div>
        </div>
        <div id="div-contenido-pdf" class="form-group">
            <label for="contenido-pdf">Texto</label>
            <textarea class="form-control" id="contenido-pdf" name="contenido-pdf" rows="3"></textarea>
        </div>
        <table class="d-none table table-striped table-sm table-responsive-md">
            <thead>
                <tr>
                    <th colspan="2">Periodo</th>
                    <th class="align-bottom">
                        Salario
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbl-captura-pdf">
            </tbody>
        </table>
        <button type="button" class="btn btn-outline-primary" id="btn-continue" onclick="convertCaptPDF()">Continuar</button>
        <button type="submit" class="d-none btn btn-outline-primary" id="btn-save">Guardar</button>
    </form>
</script>

<script type="text/x-handlebars-template" id="frm-upd-registro-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="captura-form" action="">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="update-registro" />
        {% verbatim %}
        <input type="hidden" value="{{id_data}}" name="id_data" id="id_data" />
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="empresa">Empresa:</label>
                    <input value="{{empresa}}" id="empresa" name="empresa" class="form-control" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="registro_patronal">Registro Patronal:</label>
                    <input value="{{registro_patronal}}" id="registro_patronal" name="registro_patronal" class="form-control" />
                </div>
            </div>
        </div>
        {% endverbatim %}
        <button type="submit" class="btn btn-outline-primary" id="btn-save" >Guardar</button>
    </form>
</script>

<script type="text/x-handlebars-template" id="frm-upd-detalle-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="captura-form" action="">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="update-detalle" />
        {% verbatim %}
        <input type="hidden" value="{{id_data}}" name="id_data" id="id_data" />
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inicio">Inicio:</label>
                    <input value="{{inicio}}" id="inicio" name="inicio" class="form-control" type="date" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="fin">fin:</label>
                    <input value="{{fin}}" id="fin" name="fin" class="form-control" type="date" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="salario">Salario:</label>
                    <input value="{{salario}}" id="salario" name="salario" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="vigente">
                        <input {{#if vigente}}checked="checked"{{/if}} type="checkbox" id="vigente" name="vigente" />
                        Vigente
                    </label>
                </div>
            </div>
        </div>
        {% endverbatim %}
        <button type="submit" class="btn btn-outline-primary" id="btn-save" >Guardar</button>
    </form>
</script>

{% endblock %}
