{% extends "global/html_struct.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load util_filters %}

{% block content %}

<form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form" action="">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-2">
            {% if cperms.ver_doctogral and cte.documentos.all %}
            <h5>Documentos</h5>
            <ul class="list-group">
                {% for docto in cte.documentos.all %}
                <li class="list-group-item" 
                    {% if docto.observaciones %}
                    data-toggle="tooltip" data-placement="right" data-html="true"
                    title="{{ docto.observaciones | as_paragraph }}"
                    {% endif %}>
                    {% if cperms.del_doctogral %}
                    <div class="float-right">
                        <a href="#" onclick="App.showDeletingConfirmation('{% url 'cliente_eliminar_documento' pk=docto.pk %}')" class="btn btn-outline-secondary btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                    {% endif %}
                    <a href="{{ docto.anverso.url}}" 
                        target="_blank" download>
                        {{ docto }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="col-sm-4">
            {% if titulo_frm_1 %}<h5>{{ titulo_frm_1 }}</h5>{% endif %}
            {{ frm | crispy }}
            {% if titulo_frm_2 %}<h5>{{ titulo_frm_2 }}</h5>{% endif %}
            {{ frm2 | crispy }}
            {% if titulo_frm_3 %}<h5>{{ titulo_frm_3 }}</h5>{% endif %}
            {{ frm3 | crispy }}
        </div>
        <div class="col-sm-4">
            {% if titulo_frm_4 %}<h5>{{ titulo_frm_4 }}</h5>{% endif %}
            {{ frm4 | crispy }}
            {% if titulo_frm_5 %}<h5>{{ titulo_frm_5 }}</h5>{% endif %}
            {{ frm5 | crispy }}
            {% if titulo_frm_6 %}<h5>{{ titulo_frm_6 }}</h5>{% endif %}
            {{ frm6 | crispy }}
        </div>
        <div class="col-sm-2">
            {% if cperms.ver_hl %}
            <a href="{% url 'cliente_historia_laboral' pk=cte.pk %}" class="btn btn-outline-primary btn-block">
                <i class="fas fa-file-medical-alt"></i>
                Historia Laboral
            </a>
            <p></p>
            {% endif %}
            {% if cperms.ver_dt %}
                {% if cte.historia %}
                    {% if cte.historia.all %}
                        {% if cte.historia.all.0 %}
                            {% if cte.historia.all.0.pk %}
                                <a href="{% url 'cliente_vista_tabular' pk=cte.historia.all.0.pk %}" class="btn btn-outline-primary btn-block">
                                    <i class="fas fa-table"></i>
                                    Detalle Tab.
                                </a>
                                <p></p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if cperms.ver_opcpen %}
            <a href="{% url 'cliente_pension_index' pk=cte.pk %}" class="btn btn-outline-primary btn-block">
                <i class="fas fa-file-medical-alt"></i>
                Pensión
            </a>
            <p></p>
            {% endif %}
            {% if cperms.ver_actividad and cte.actividades_asociadas.all %}
            <h5>Actividades</h5>
            <div class="list-group">
                {% for act in cte.actividades_asociadas.all %}
                    <a href="{% url 'actividad_see' pk=act.pk %}" class="list-group-item list-group-item-action">
                        {{ act }}
                    </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-md-2">
                {{ frmObs | crispy }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-md-2">
            <button type="submit" class="btn btn-outline-primary" id="btn-save" >Guardar</button>
        </div>
    </div>
</form>
<script type="text/x-handlebars-template" id="notas-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form" action="">
        {% csrf_token %}
        {% if perms.initsys.agregar_notas_nota %}
        <input type="hidden" name="action" value="add-note" />
        <div class="row">
            <div class="col form-group">
                <label for="nota">Nueva Nota</label>
                <textarea name="nota" id="nota" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="fecha_notificacion">¿Crear una notificación?</label>
                <input class="form-control" type="date" name="fecha_notificacion" id="fecha_notificacion" />
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label>Notificando a:</label>
            </div>
        </div>
        <div class="row">
            {% for usr in usrs %}
                <div class="col-sm-3">
                    <label>
                        <input value="{{ usr.pk }}" {% if request.session.usuario == usr.pk %}checked="checked"{% endif %} type="checkbox" name="usrs[]" id="usrs[]" />
                        {{ usr }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-outline-primary">Agregar Nota</button>
        {% endif %}
        {% for nota in cte.notas.all %}
        <hr />
        <div class="row">
            <div class="col">
                <span class="text-muted">
                    {{ nota.created_at | date:"d/m/Y" }}: 
                </span>
                {{ nota.nota | as_paragraph | safe }}
                <p class="blockquote-footer">{{ nota.created_by }}</p>
            </div>
        </div>
        {% endfor %}

    </form>
</script>

<script type="text/x-handlebars-template" id="alerta-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form" action="">
        {% csrf_token %}
        <input type="hidden" name="action" value="add-alert" />
        <div class="row">
            <div class="col form-group">
                <label for="nota">Nueva Alerta</label>
                <textarea name="nota" id="nota" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="fecha_notificacion">Fecha de Notificación</label>
                <input class="form-control" type="date" name="fecha_notificacion" id="fecha_notificacion" required="required" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="confirm_cte">
                    <input checked="checked" value="yes" type="checkbox" name="confirm_cte" id="confirm_cte" />
                    Confirmar al cliente
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label>Notificando también a:</label>
            </div>
            </div>
            <div class="row">
                {% for usr in usrs %}
                    <div class="col-sm-3">
                        <label>
                            <input value="{{ usr.pk }}" {% if request.session.usuario == usr.pk %}checked="checked"{% endif %} type="checkbox" name="usrs[]" id="usrs[]" />
                            {{ usr }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        <button type="submit" class="btn btn-outline-primary">Agregar Alerta</button>
    </form>
</script>

<script type="text/x-handlebars-template" id="frmdoctogral-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form" action="">
        {% csrf_token %}
        <input type="hidden" name="action" value="add-document" />
        {{ frmDocto | crispy }}
        <button type="submit" class="btn btn-outline-primary" id="btn-save" >Guardar</button>
    </form>
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#id_obs_semanas_cotizadas").attr('rows', 3);
        $("#id_obs_homonimia").attr('rows', 3);
        $("#id_obs_duplicidad").attr('rows', 3);
    });
</script>

<!-- Simple tasks -->

<script type="text/x-handlebars-template" id="data-task-form-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="data-task-form" action="">
        {% csrf_token %}
        {% include "simple_tasks/form.html" %}
        <input type="hidden" name="pk" id="pk" value="" />
        <button type="button" class="btn btn-outline-primary" id="btn-save" onclick="create_new_task()">Guardar</button>
    </form>
</script>

<script type="text/javascript" src="{% static 'js/simple_tasks.js' %}?rn={{ 1 | random_num:99999999 }}"></script>
<script type="text/javascript">
    let simple_task_reloading = false;
    let responsables = {
        {% for persona in responsables %}
        "{{persona.pk}}": {
            "nombre": "{{persona.first_name}}",
            "apellido": "{{persona.last_name}}"
        },
        {% endfor %}
    };
    let url_tarea_new = '{% url "tarea_new"%}';
    let url_tarea_see = '{% url "tarea_see" %}';
    let url_tarea_update = '{% url "tarea_update" %}';
    let url_tarea_delete = '{% url "tarea_delete" %}';
    let url_tarea_add_comment = '{% url "tarea_add_comment"%}';
    let url_tarea_delete_comment = '{% url "tarea_delete_comment" %}';
    let url_tarea_update_comment = '{% url "tarea_update_comment" %}';
    let url_tarea_new_link = '{% url "tarea_new_link" %}';
    let url_tarea_delete_link = '{% url "tarea_delete_link" %}';

    let newTask = () => {
        openNewTaskFrm();
        $(`#lnk_hl`).attr('disabled', true);
        $(`#lnk_act`).attr('disabled', true);
        $(`#lnk_cte option[value="{{ cte.pk }}"]`).attr('selected', true);
    }
</script>

{% endblock %}