{% extends "global/html_struct.html" %}
{% load crispy_forms_tags %}
{% load util_filters %}

{% block content %}

<h5>Resumen</h5>

<div class="row">
    <div class="col-sm-6">
        <p>
            <strong>{{ historia.cliente }}</strong><br />
            {% if historia.cliente.CURP %}CURP: {{ historia.cliente.CURP }}<br />{% endif %}
            {% if historia.cliente.NSS %}NSS: {{ historia.cliente.NSS }}<br />{% endif %}
            {% if historia.cliente.RFC %}RFC: {{ historia.cliente.RFC }}<br />{% endif %}
        </p>
    </div>
    <div class="col-sm-6 card">
        <div class="card-body">
            <table class="table table-striped table-sm table-responsive-md">
                <tbody>
                    <tr>
                        <th>Fecha Alta</th>
                        <td class="text-right">
                            {{ historia.inicio|date:'d/M/Y' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Fecha Baja</th>
                        <td class="text-right">
                            {{ historia.fin|date:'d/M/Y' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Días Cotizados</th>
                        <td class="text-right">
                            {{ historia.dias_cotizados }}
                        </td>
                    </tr>
                    <tr>
                        <th>Semanas Cotizadas</th>
                        <td class="text-right">
                            {{ historia.semanas_cotizadas }}
                        </td>
                    </tr>
                    <tr>
                        <th>Suma de Salario</th>
                        <td class="text-right">
                            $ {{ historia.agg_salario.suma_salario|money2display }}
                        </td>
                    </tr>
                    <tr>
                        <th> Salario Promedio</th>
                        <td class="text-right">
                            $ {{ historia.agg_salario.salario_promedio|money2display }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h5>Detalle</h5>

<script type="text/javascript">
    let periods = {{ periods|safe }};
</script>

<style type="text/css">
    #data-tbl-comp tr th:first-child,
    #data-tbl-comp tr td:first-child {
        width: 250px;
    }
    div.progress-bar.bg-prev {
        background-color: #e9ecef;
    }
</style>

<table id="data-tbl-comp" class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Periodos</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Empresa</th>
            <th>Periodos</th>
        </tr>
    </tfoot>
    <tbody id="data-tbl"></tbody>
</table>

<script type="text/javascript">
    $( document ).ready( () => {
        let tbl = $( "#data-tbl" );
        periods.reverse();
        periods.forEach( function( per, idx ) {
            fila = $( `<tr></tr>` );
            fila.append( $( `<td>${per.empresa}</td>` ) );
            let tdprogress = $( `<td></td>` );
            per.periodos.reverse();
            per.periodos.forEach( function( p, idx ) {
                if( p.porc < 0.2 ) {
                    p.porc = 0.2;
                }
                if( p.porc > 0.0 ) {
                    let dprogress = $( `<div class="progress"></div>` );
                    let title = `Periodo de ${p.inicio} a ${p.fin}<br />${p.dias} días.`;
                    dprogress.append( $( `<div style="width: ${p.porc_from_start}%" aria-valuenow="${p.porc_from_start}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-prev" role="progressbar" ></div>` ) );
                    dprogress.append( $( `<div style="width: ${p.porc}%" aria-valuenow="${p.porc}" title="${title}" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" data-toggle="tooltip" data-html="true"></div>` ) );
                    tdprogress.append(dprogress);
                }
            } );
            if( tdprogress.children().length > 0 ) {
                fila.append(tdprogress);
                tbl.append( fila );
            }
        } );
        $('[data-toggle="tooltip"]').tooltip();
    } );
</script>

{% endblock %}