{% extends "global/html_struct.html" %}

{% load static %}
{% load util_filters %}

{% block content %}

{% for alerta in alertas %}
<div class="alert alert-secondary" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ alerta.nota | as_paragraph | safe }}
    <form method="post" autocomplete="off" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="disble-alert" />
        <input type="hidden" name="alert" id="alert" value="{{ alerta.pk }}" />
        <button type="submit" class="btn btn-outline-secondary btn-sm">Borrar</button>
    </form>
</div>
{% endfor %}

<h3>{{usuario}}</h3>

{% for taxonomia in taxonomias %}
<div class="card" style="margin-bottom: 10px;">
    <div class="card-header">
        {{ taxonomia }}
    </div>
    <ul class="list-group list-group-flush">
        {% for cte in taxonomia.clientes.all %}
        <li class="list-group-item"><a href="{% url 'cliente_see' pk=cte.pk %}">{{ cte }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

{% endblock %}
