{% extends "global/html_struct.html" %}

{% load static %}
{% load util_filters %}

{% block content %}

{% for alerta in alertas %}
<div class="alert alert-secondary" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ alerta.nota | as_paragraph | safe }}
    <form method="post" autocomplete="off" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="disble-alert" />
        <input type="hidden" name="alert" id="alert" value="{{ alerta.pk }}" />
        <button type="submit" class="btn btn-outline-secondary btn-sm">Borrar</button>
    </form>
</div>
{% endfor %}

<h3>{{usuario}}</h3>

<h4>Tareas Pendientes</h4>
<table class="table table-striped table-sm table-responsive-md">
    <thead>
        <tr>
            <th>Tarea</th>
            <th>Estado</th>
            <th>Fecha Límite</th>
            <th>Vínculos</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Tarea</th>
            <th>Estado</th>
            <th>Fecha Límite</th>
            <th>Vínculos</th>
            <th>Detalle</th>
        </tr>
    </tfoot>
    <tbody id="data-task">
        {% for tarea in tareas %}
        <tr class="text-{{tarea.color}} table-{{tarea.color}}">
            <td>{{tarea}}</td>
            <td>{{tarea.estado_actual}}</td>
            <td>{{tarea.fecha_limite | date:'d/M/Y'}}</td>
            <td>
                {% for lnk in tarea.vinclulos.all %}
                <a href="{{lnk.url}}">{{lnk.texto}}</a><br />
                {% endfor %}
            </td>
            <td>
                <button type="button" onclick="see_task({{tarea.pk}})" class="btn btn-outline-secondary">
                    <i class="far fa-eye"></i> Ver
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if taxonomias %}
<h4>Clientes</h4>
<div class="card-columns">
{% for taxonomia in taxonomias %}
<div class="card {% if taxonomia.color %}border-{{taxonomia.color}}{% endif %}" style="margin-bottom: 10px;">
    <div class="card-header {% if taxonomia.color %}text-{{taxonomia.color}}{% endif %}">
        <i class="far fa-folder-open"></i> {{ taxonomia }}
    </div>
    <ul class="list-group list-group-flush {% if taxonomia.color %}text-{{taxonomia.color}}{% endif %}">
        {% for cte in taxonomia.clientes.all %}
        <li class="list-group-item"><a href="{% url 'cliente_see' pk=cte.pk %}">{{ cte }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
</div>
{% endif %}

{% if estatus_actividad %}
<h4>Actividades</h4>
{% for status in estatus_actividad %}
<div class="card {% if status.color %}border-{{status.color}}{% endif %}" style="margin-bottom: 10px;">
    <div class="card-header {% if status.color %}text-{{status.color}}{% endif %}">
        <i class="fab fa-creative-commons-sampling"></i> {{ status }}
    </div>
    <div class="card-body {% if status.color %}text-{{status.color}}{% endif %}">
        <table class="table table-striped table-sm table-responsive-md">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Actividad</th>
                    <th>Fecha</th>
                    <th>Actualizado en</th>
                    <th>Responsable</th>
                </tr>
            </thead>
            <tbody>
                {% for actividad in status.actividades.all %}
                    <tr>
                        <td>
                            <a href="{% url 'cliente_see' pk=actividad.cliente.pk %}">{{ actividad.cliente }}</a>
                        </td>
                        <td>
                            <a href="{% url 'actividad_see' pk=actividad.pk %}">
                                {{ actividad.titulo }}
                            </a>
                        </td>
                        <td>
                            {% if actividad.fecha %}{{ actividad.fecha|date:"d/M/Y" }}{% endif %}
                        </td>
                        <td>
                            {{ actividad.updated_at|date:"d/M/Y" }}
                        </td>
                        <td>
                            {{ actividad.responsable }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% endif %}

{% if me_as_cte %}
<h5>Resumen</h5>

<div class="row">
    <div class="col-sm-6">
        <p>
            <strong>{{ me_as_cte }}</strong><br />
            {% if me_as_cte.CURP %}CURP: {{ me_as_cte.CURP }}<br />{% endif %}
            {% if me_as_cte.NSS %}NSS: {{ me_as_cte.NSS }}<br />{% endif %}
            {% if me_as_cte.RFC %}RFC: {{ me_as_cte.RFC }}<br />{% endif %}
        </p>
    </div>
    <div class="col-sm-6 card">
        <div class="card-body">
            {% for historia in me_as_cte.historia.all %}
            <table class="table table-striped table-sm table-responsive-md">
                <tbody>
                    <tr>
                        <th>Fecha Inicial</th>
                        <td class="text-right">
                            {{ historia.inicio|date:'d/M/Y' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Fecha Final</th>
                        <td class="text-right">
                            {{ historia.fin|date:'d/M/Y' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Semanas Cotizadas</th>
                        <td class="text-right">
                            {{ historia.semanas_cotizadas }}
                        </td>
                    </tr>
                    <tr>
                        <th> Salario Promedio</th>
                        <td class="text-right">
                            $ {{ historia.agg_salario.salario_promedio|money2display }}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</div>

{% for historia in me_as_cte.historia.all %}
    {% for opcion in historia.opciones.all %}
        {% if opcion.seleccionada %}
            <div class="card border-{%if opcion.seleccionada %}success{% else %}primary{% endif %}" style="margin-top: 10px;">
                <div class="card-header">Opción de Pensión</div>
                <div class="card-body">
                    {% include "app/cliente/opcion_pension_view.html" %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}

{% endif %}

<link rel="stylesheet" href="{% static 'css/simple_tasks.css' %}" />
<script type="text/x-handlebars-template" id="data-task-form-template">
    <form method="post" autocomplete="off" enctype="multipart/form-data" id="data-task-form" action="">
        {% csrf_token %}
        {% include "simple_tasks/form.html" %}
        <input type="hidden" name="pk" id="pk" value="" />
        <button type="button" class="btn btn-outline-primary" id="btn-save" onclick="create_new_task()">Guardar</button>
    </form>
</script>

<script type="text/x-handlebars-template" id="data-task-readonly-template">
    <input type="hidden" name="pk" id="pk" value="" />
    {% include "simple_tasks/form_readonly.html" %}
</script>

{% verbatim %}
<script type="text/x-handlebars-template" id="data-task-list-template">
    <div class="task" data-id="{{idtarea}}" data-estado="{{estado_actual}}" data-responsable="{{responsable.id}}" ondblclick="see_task({{idtarea}})">
        <span class="badge badge-{{color}}" data-toggle="tooltip" title="{{responsable.nombre}}">{{responsable.iniciales}}</span>
        {{idtarea}} - {{titulo}}
    </div>
</script>
{% endverbatim %}

<script type="text/javascript" src="{% static 'js/simple_tasks.js' %}?rn={{ 1 | random_num:99999999 }}"></script>
<script type="text/javascript">
    let simple_task_reloading = true;
    let responsables = {
        {% for persona in responsables %}
        "{{persona.pk}}": {
            "nombre": "{{persona.first_name}}",
            "apellido": "{{persona.last_name}}"
        },
        {% endfor %}
    };
    let url_tarea_new = '{% url "tarea_new"%}';
    let url_tarea_see = '{% url "tarea_see" %}';
    let url_tarea_update = '{% url "tarea_update" %}';
    let url_tarea_delete = '{% url "tarea_delete" %}';
    let url_tarea_add_comment = '{% url "tarea_add_comment"%}';
    let url_tarea_delete_comment = '{% url "tarea_delete_comment" %}';
    let url_tarea_update_comment = '{% url "tarea_update_comment" %}';
    let url_tarea_new_link = '{% url "tarea_new_link" %}';
    let url_tarea_delete_link = '{% url "tarea_delete_link" %}';
</script>

{% endblock %}
